@{
    ViewBag.Title = "Categories";
}

<header>
    <h1>Categories</h1>
</header>

<a href="/movies"><span class="choose">Movies</span></a>
<a href="/series"><span class="choose">Series</span></a>